*.iml
.gradle
/local.properties
/.toolchain
/.temp
/.idea
*.zip
hs_err_pid*.log
**/build/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
